<div class="toolbar">
    <div class="toolbar__part">
        <p-button icon="pi pi-bars" styleClass="p-button-text"></p-button>
    </div>

    <div class="toolbar__part">
        <p-button icon="pi pi-bell" styleClass="p-button-text"></p-button>

        <div *ngIf="currentUser" class="toolbar__user-info">
            <p-avatar [label]="getAvatar()" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <p class="toolbar--user-name">{{ currentUser.name.full }}</p>
            <p-button icon="pi pi-ellipsis-v" styleClass="p-button-text"></p-button>
        </div>
    </div>
</div>